<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Access denied</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Error</h1>
            <img src="http://assets.nydailynews.com/polopoly_fs/1.1187563.1418836646!/img/httpImage/image.jpg_gen/derivatives/gallery_1200/fidel-castro-nikita-khrushchev-united-nations-1960.jpg" alt="Something gone terribly wrong" height="800" width="">
            <p>When he has this awesome smile</p>
        </div>
    </div>
</section>
</div>
</body>
</html>
