<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Order Page</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <section>
        <div class="jumbotron">
            <div class="container">
                <h1>Order</h1>
                <p>This page allows to create new order</p>
            </div>
        </div>
    </section>

    <section class="container">
        <form action="#" th:action="@{/shipments/new_shipment}" th:object="${newShipment}"
              method="post" class="form-horizontal">
            <fieldset>
                <legend>Create new shipment</legend>

                <div class="form-group">
                    <label class="control-label col-lg-2" for="name">Value</label>
                    <div class="col-lg-10">
                        <input id="name" type="text" th:field="*{value}"
                               class="form:input-large" />
                    </div>
                </div>

            </fieldset>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="submit" id="btnAdd" class="btn btn-primary"
                           value="Submit" />
                </div>

            </div>
        </form>
    </section>


</div>
</body>
</html>