<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Shipments</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Shipments</h1>
            <p>This page contains all informations about shipments</p>
        </div>
    </div>
</section>



    <section class="container">
        <div class="row">
            <th:block th:each="shipment : ${shipmentList}">
                <div class="col-sm-6 col-md-3" style="padding-bottom: 15px">
                    <div class="thumbnail">
                        <div class="caption">
                        <p style="float:left"> ID:</p>
                        <p style="float:center" th:text="${shipment.id}"></p>
                        </div>

                        <div class="caption">
                            <p style="float:left"> value:</p>
                            <p style="float:center" th:text="${shipment.id}"></p>
                        </div>

                        <div class="caption">
                            <p style="float:left"> status:</p>
                            <p style="float:center" th:text="${shipment.status}"></p>
                        </div>

                        <div class="caption">
                            <p style="float:left"> owner name:</p>
                            <p style="float:center" th:text="${shipment.owner.customerName}"></p>
                        </div>

                        <div class="caption">
                            <p style="float:left"> current location:</p>
                            <p style="float:center" th:text="${shipment.currentOutpost.location}"></p>
                        </div>

                        <div class="caption">
                            <p>
                                <a th:href="@{'/shipments/shipment?id='+${shipment.id}}"
                                   class="btn btn-primary"> <span
                                        class="glyphicon-info-sign glyphicon"/></span> Details
                                </a>
                            </p>
                        </div>

                        <div class="caption">
                            <p>
                                <a th:href="@{'/shipments/shipment?id='+${shipment.id}}"
                                   class="btn btn-primary"> <span
                                        class="glyphicon-info-sign glyphicon"/></span> Delete
                                </a>
                            </p>
                        </div>


                    </div>
                </div>
            </th:block>
        </div>
    </section>


</div>
</body>
</html>
